{% extends 'base.html' %}
{% block title %}Thank you{% endblock %}
{% block content %}
<p>Thank you ^^</p>
<div class="tenor-gif-embed" data-postid="7412642552017593118" data-share-method="host" data-aspect-ratio="0.779116"
    data-width="100%"><a
        href="https://tenor.com/view/flowers-bouquet-bouquet-of-flowers-blooms-spring-gif-7412642552017593118">Flowers
        Bouquet Sticker</a>from <a href="https://tenor.com/search/flowers-stickers">Flowers Stickers</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}