{% extends 'base.html' %}
{% block title %}Thank You{% endblock %}
{% block content %}
<div class="text-center">
    <p>Thanks for your response!</p>
    <p>Your host will plan the date.</p>
    <img src="{{ url_for('static', filename='img/dog.gif') }}" alt="Cute Dog" class="img-fluid my-4" style="max-width: 200px;">
    <br>
    <button class="btn btn-custom-primary" onclick="closeTab()">Close</button>
</div>

<script>
    function closeTab() {
        window.close();
    }
</script>
{% endblock %}